*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
:root{
    --bg-navbar: #171717;
    --hover-item: #0a0a0a;
    --text-color: #fff;
    --color-itens: #3A7EFD;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:  url(./Assets/circulos.gif) no-repeat center/cover; */
}
.navbar{
    width: 100%;
    max-width: 1080px;
    display: flex;
    background-color: var(--bg-navbar);
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 40px 70px;
    border-radius: 50px;
    font-size: 16px;
}
.navbar img{
    width: 50px;
}
.navbar a{
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.textNavbar{
    padding: 10px 28px;
    border-radius: 50px;
    transition: all 0.2s;
}
.textNavbar:hover{
    background-color: var(--hover-item);
}
.textNavbar:active{
    background-color: var(--color-itens);
}
#home{
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 50px 0;
    height: 100vh;
    background: url(./Assets/Ellipse.svg) no-repeat bottom;
    justify-content: space-between;
}
.tittleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.texthome{
    display: flex;
    border-radius: 50px;
    padding: 8px 20px;
    border: 1px solid var(--bg-navbar);
    font-weight: 500;
}
.tittleHome{
    text-align: center;
    font-size: 73px;
    font-weight: 600;
}
.vector1{
    position: relative;
    bottom: 308px;
    left: 48px;
}
.vector2{
    position: relative;
    bottom: 88px;
    right: 550px;
}
.infos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.textRight{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.text3anos{
    font-size: 36px;
    font-weight: 600;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 6px 8px;
    gap: 14px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(32px);
    border-radius: 50px;
    border: 1px solid var(--text-color);
}
.btn{
    display: flex;
    align-items: center;
    padding: 11px 31px;
    gap: 4px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover{
    background-color: var(--color-itens);
    color: var(--text-color);
}
.btn i{
    color: var(--text-color);
}

#services{
    height: 100vh;
    width: 100%;
    background: url(./Assets/backgroundProjetos.png) no-repeat center/cover;
    display: flex;
    padding: 70px;
    border-radius: 50px;
}